<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% endblock head %}
</head>

<body class="pt-8 font-custom">
        <div class="container mx-auto px-4 lg:max-w-3xl prose">
        <header>
                <h1 class="text-lg md:text-xl lg:text-2xl"><a class="no-underline" href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <script type="module" src="{{ SITEURL }}/theme/js/main.js"></script>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap" rel="stylesheet">
        </header>
        <div class="index-content">
          {% for p in pages %}
          {% if p.index %}
          {{p.content}}
          {% endif %}
          {% endfor %}
      </div>    
        <nav>
          <ul class="inline-flex flex-wrap p-0 list-none">
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                <div class="mr-2 mb-2 p-2 bg-stone-950">
                  <li{% if cat == category %} class="active"{% endif %}><a class="text-white no-underline" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                </div>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer class="px-8 py-8 ">
                <div class="text-center">
                  Original writing by Fitri Rahim
                </div>
        </footer>
      </div>
</body>
</html>
