<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="/theme/other/favicon.png">
        {% endblock head %}
</head>
<body>
          <div id="root" class="container px-4 lg:max-w-3xl min-w-[320px] mx-auto prose prose-a:no-underline prose-hr:my-0 prose-p:text-lg">
          <header>
            {% if SITEURL %}
            <link href="/theme/css/style.css" rel="stylesheet">
            {% else %}
            <script type="module" src="/theme/js/main.js"></script>            
            {% endif %}
            <div class="my-8">
              <h1 class="m-0 text-lg md:text-xl lg:text-2xl"><a href="/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
            </div>
          </header>
          <div class="index-content">
            {% for p in pages %}
            {% if p.index %}
            {{p.content}}
            {% endif %}
            {% endfor %}
        </div>
          <h2 class="mb-0 mt-16">Explore topics</h2>    
          <nav>
            <ul class="inline-flex flex-wrap gap-2 p-0 list-none">
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <div class="p-4 bg-black">
                    <li class="m-0" {% if cat == category %}{% endif %}><a class="text-white no-underline" href="/{{ cat.url }}">{{ cat }}</a></li>
                  </div>
                {% endfor %}
              {% endif %}
            </ul>
          </nav>
          <main>
          {% block content %}
          {% endblock %}
          </main>
          <footer class="px-8 py-8 ">
                  <div class="text-center text-gray-300">
                    Original writing by Fitri Rahim
                  </div>
          </footer>
          </div>
</body>
</html>
